<p id="notice"><%= notice %></p>

<p>
  <strong>Reason:</strong>
  <%= @expense.reason %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @expense.expense_id %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
